parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/AuthController.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/AuthController.php

		-
			message: '#^Call to static method authorize\(\) on an unknown class Gate\.$#'
			identifier: class.notFound
			count: 3
			path: app/Http/Controllers/Api/V1/ProjectController.php

		-
			message: '#^Access to an undefined property App\\Models\\Project\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/Api/V1/ProjectMemberController.php

		-
			message: '#^Access to an undefined property App\\Models\\ProjectMember\:\:\$project_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/Api/V1/ProjectMemberController.php

		-
			message: '#^Access to an undefined property Spatie\\MediaLibrary\\MediaCollections\\Models\\Media\:\:\$model\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/TaskAttachmentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$priority\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/TaskController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/TaskController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\MediaResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\MediaResource\:\:\$file_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\MediaResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\MediaResource\:\:\$mime_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\MediaResource\:\:\$size\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\V1\\MediaResource\:\:getUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/V1/MediaResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectMemberResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectMemberResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectMemberResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectMemberResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectMemberResource\:\:\$role\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/V1/ProjectMemberResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectMemberResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectMemberResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectMemberResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectMemberResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\ProjectResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/ProjectResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$comment\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$task_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskCommentResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskCommentResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$due_date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$priority\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$project_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\TaskResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/TaskResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\UserResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\UserResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\V1\\UserResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Policies/ProjectPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\TaskComment\:\:\$task\.$#'
			identifier: property.notFound
			count: 6
			path: app/Policies/TaskCommentPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\TaskComment\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 5
			path: app/Policies/TaskCommentPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 11
			path: app/Policies/TaskCommentPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\Task\:\:\$project\.$#'
			identifier: property.notFound
			count: 3
			path: app/Policies/TaskPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\Task\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 5
			path: app/Policies/TaskPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 8
			path: app/Policies/TaskPolicy.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/V1/ProjectService.php

		-
			message: '#^Call to an undefined static method App\\Models\\Project\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Services/V1/ProjectService.php

		-
			message: '#^Call to an undefined static method App\\Models\\Task\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Services/V1/TaskService.php
